<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <title>カクテルあぷり</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
</head>

<body>

<h1>カクテルあぷり</h1>

<nav class="navbar  navbar-inverse">
  <div class="container">
  <ul class="nav navbar-nav">
  <li class="active"><a href="{% url 'top:top' %}">HOME</a></li>
  <li><a href="{% url 'top:search' %}">Search</a></li>
  <li><a href="{% url 'top:request' %}">Request</a></li>
  <li><a href="{% url 'top:registration' %}">Registration</a></li>
  <li><a href="{% url 'top:record' %}">Record</a></li>
  </ul>
  <form class="navbar-form navbar-right"  role="search">
  <div  class="form-group">
  <input  type="text" class="form-control"  placeholder="Search">
  </div>
  <button  type="submit" class="btn  btn-default">Submit</button>
  </form>
  </div>
</nav>


<h2>カクテル詳細</h2>

<table>
<tr>
    <th>名前</th>
    <th>ベース</th>
    <th>グラス</th>
    <th>テクニック</th>
    <th>度数</th>
    <th>テイスト</th>
    <th>材料１</th>
    <th>材料２</th>
    <th>説明</th>
    <th>写真</th>

</tr>

<tr>
    <td>{{ cocktail.name }}</td>
    <td>{{ cocktail.base }}</td>
    <td>{{ cocktail.lengh }}</td>
    <td>{{ cocktail.tech }}</td>
    <td>{{ cocktail.alc}}</td>
    <td>{{ cocktail.taste}}</td>
    <td>{{ cocktail.material1}}</td>
    <td>{{ cocktail.material2}}</td>
    <td>{{ cocktail.contents}}</td>
    <td><img src="{{ cocktail.image.url }}" width="300" height="200"/></td>
    <!-- <td>{{ cocktail.image}}</td> -->
</tr>

</table>

</body>
</html>
